/* html*/
*{
    margin: 0;
    padding: 0;
}


/*-- hero---*/
#allHeroHeaders{
position: absolute;
top: 9rem;
left: 51rem;
text-align: center;
}


.hero{
    background-image: url(/backgroundpics/wp2461878.jpg);
    height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*words on picture*/
    #hero-title{
        font-size: 4.5rem;
        color: black;
        font-family: 'Cinzel', serif;
    margin-bottom: .5rem;
    }

    #hero-title:hover{
    color: #6f3b26;
    }
    
    #hero-p{
        margin-top: 2rem;
        font-family: 'Cinzel', serif;
        font-size: 2rem;
        color: black;
        font-weight: bold;
    }

    #hero-sub{
        font-family: 'Cinzel', serif;
        font-size: 1rem;
        color: black;
        font-weight: bold;
        
    }
    /*--info panel--*/
    .info-header{
padding: 1rem;
font-family: 'Cinzel', serif;
    }
    
    .allInfo-d{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #f8edeb;
        height: 20.9rem;
    }
    
    .info-panal{
        margin-top: 5rem;
        margin-left: 1rem;
        font-size: 1.2rem;
        height: 10rem;
        width: 20rem;
        background-color: #a75b3b;
        
        color:black;
        padding: 1rem;
        text-align: center;
    border-radius: 6rem;
    }

    .info-p{
        font-size: 1rem;
        font-family: 'Josefin Sans', sans-serif;

    }
/*----api------*/
#calander-input{
    background-color: #f8edeb; 
    padding-top: 5rem;
    padding-bottom: 10rem;
    text-align: center;
    height: 6rem;
}

.roverPic{
    margin-top: 1rem;
    width: 20rem;
height: 20rem;
width: 25rem;
position: absolute;
left: 70rem;
bottom: -10rem;
}
    
