/*-----backgrund pic--------*/
#hero{
width: 80rem;
height: 40rem;

}

/*header----------contant*/
.title-div{
    margin-left: 40rem;
    margin-top: 15rem;
    margin-bottom: 1rem;
background-color: white;
   height: 15rem;
width: 40rem;
text-align: center;
}  

#title-h{
color: black;
text-align: center;

font-size: 3rem;  
}

#title-p{
    color: black;
    text-align: center;
    font-size: 1rem;  
    }

/*-----input feild-------*/
    #calander-input{
text-align: center;
    }

    img{
margin-top: 3rem;
        width: 20rem;
height: 20rem;
position: absolute;
left: 50rem;
    }