/* html*/
*{
    margin: 0;
    padding: 0;
}


/*-- hero---*/
#hero{
    width: 118.9rem;
    height: 38rem;
    }

    #hero-title{
        position: absolute;
        top: 9rem;
        left: 54.5rem;
        font-size: 6rem;
        color: #f4a261;
        font-family: 'Playfair Display', serif;
    }

    #hero-p{
        font-family: 'Playfair Display', serif;
        position: absolute;
        top: 16rem;
        left: 50rem;
        font-size: 2.4rem;
        color: black;
        font-weight: bold;
    }

    #hero-sub{
        font-family: 'Playfair Display', serif;
        position: absolute;
        top: 19rem;
        left: 57em;
        font-size: 1rem;
        color: black;
        font-weight: bold;
    }
    /*--info panel--*/
    .info-header{
padding: 1rem;
    }
    
    .allInfo-d{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #ced4da;
        height: 20.9rem;
    }
    
    .info-panal{
        margin-top: 5rem;
        margin-left: 1rem;
        font-size: 1.2rem;
        height: 10rem;
        width: 20rem;
        background-color: #212529;
        color:#fcaf58;
        padding: 1rem;
        text-align: center;
    border-radius: 6rem;
    }

/*----api------*/
#calander-input{
    background-color: #ced4da; 
    
    text-align: center;
    height: 6rem;
}

.roverPic{
    margin-top: 1rem;
    width: 20rem;
height: 20rem;
width: 25rem;
position: absolute;
left: 48rem;
}
    